body{
    background-color: rgb(215, 236, 236);
}

.text-center{
    text-align: center;
    font: 25px Arial, sans-serif;
    font-weight: bold;
}

p{
    text-align: center;
    font-weight: bold;
}

.result {
    width: 305px;
    height: 40px;
    float: left;
    line-height: 40px;
    background-color: #fff;
    color: #000;
    margin: 5px;
}

form{
    text-align: center;
}
  